# === AlphaAvatar ===
AVATAR_NAME="AlphaAvatar"

# === LiveKit ===
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_URL=
ALPHAAVATAR_MAX_SESSION_SECONDS=1800

# === Provider APIs ===
OPENAI_API_KEY=
VOICEAI_API_KEY=
OPENROUTER_API_KEY=
GOOGLE_API_KEY=
ANTHROPIC_API_KEY=

# === Qdrant (Optional, the default vector library used is LanceDB) ===
QDRANT_URL=
QDRANT_API_KEY=

# === Plugins ===
TAVILY_API_KEY=
GITHUB_PAT=

# === WhatsApp ===
WHATSAPP_ROOM='wa_mvp'
WHATSAPP_WHITELIST_ENABLED=true
WHATSAPP_WHITELIST_FILE='avatar-channels/avatar-channels-whatsapp/whitelist.txt'
