# === LiveKit ===
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
LIVEKIT_URL=

# === OpenAI ===
OPENAI_API_KEY=

# === Qdrant ===
QDRANT_URL=
QDRANT_API_KEY=

# === Plugins ===
TAVILY_API_KEY=
GITHUB_PAT=

# === WhatsApp ===
WHATSAPP_ROOM='wa_mvp'

# === AlphaAvatar ===
AVATAR_NAME="Assistant"
