[submodule "avatar-plugins/avatar-plugins-character/third_party/airi"]
	path = avatar-plugins/avatar-plugins-character/third_party/airi
	url = https://github.com/AlphaAvatar/AlphaAvatar-character-airi.git
