[tool.uv]
constraint-dependencies = ['onnxruntime<1.20.0; python_version == "3.9"']

[tool.uv.sources]
alpha-avatar-agents = { workspace = true }
alpha-avatar-plugins-character = { workspace = true }
alpha-avatar-plugins-memory = { workspace = true }
alpha-avatar-plugins-persona = { workspace = true }

[tool.uv.workspace]
members = [
    "avatar-agents",
    "avatar-plugins/*",
]
exclude = []

[dependency-groups]
dev = [
    "pre-commit",
    "python-dotenv>=1.0.1",
    "mypy",
    "pytest",
    "ruff",
    "pytest-asyncio>=0.25.3",
    "jiwer>=3.1.0",
    "scipy>=1.13.1",
    "tiktoken>=0.9.0",
]
docs = [
    "pdoc3",
    "setuptools",
]

[tool.ruff]
line-length = 100
target-version = "py310"
exclude = [".github"]

[tool.ruff.lint]
select = [
    "E",  # pycodestyle errors
    "W",  # pycodestyle warnings
    "F",  # pyflakes
    "I",  # isort
    "B",  # flake8-bugbear
    "C4", # flake8-comprehensions
    "UP", # pyupgrade
]
ignore = ["E501", "B904"]

[tool.ruff.lint.isort]
combine-as-imports = true
known-first-party = ["alphaavatar"]

[tool.ruff.lint.pydocstyle]
convention = "google"


[tool.pytest.ini_options]
asyncio_mode = "auto"
asyncio_default_fixture_loop_scope = "function"
addopts = ["--import-mode=importlib", "--ignore=examples"]


[tool.mypy]
strict = true
disallow_any_generics = false
